<div id="wrapper" class="row ng-scope">
	<h3 style="text-align: center">
		<b>Create New Trips</b>
	</h3>
	<div class="row" style="text-align: center">
			<h3>Select the billed orders</h3>
			<input type="checkbox" name="bill" value="112"> Order 112<br />
			<input type="checkbox" name="bill" value="113"> Order 113<br />
			<input type="checkbox" name="bill" value="114"> Order 114<br />
			<br /> <br />
			<h3>Select the Driver</h3>
			<select ng-model="selectedDriver">
				<option value="">Select</option>
    			<option ng-repeat="driver in drivers" value="{{driver.driver_id}}">{{"Name: "+driver.name+"; Phone: "+driver.phone}}</option>
			</select> <br /> <br />
			<h3>Select the Truck</h3>
			<select ng-model="selectedTruck">
				<option value="">Select</option>
    			<option ng-repeat="truck in trucks" value="{{truck.truck_id}}">{{"Name: "+truck.name+"; Number: "+truck.truck_no}}</option>
			</select> <br /> <br /> <br />
			<button type="button" ng-click="createTrip()">Submit</button>
	</div>
</div>