<div id="wrapper" class="row ng-scope">
   <style>
      #panel {background-color:#f2f2f2; margin-top:100px; margin-bottom:75px; padding-left:40px; padding-bottom:70px}
      .btn-file {
      position: relative;
      overflow: hidden;
      }
      .btn-file input[type=file] {
      position: absolute;
      top: 0;
      right: 0;
      min-width: 100%;
      min-height: 100%;
      font-size: 100px;
      text-align: right;
      filter: alpha(opacity=0);
      opacity: 0;
      outline: none;
      background: white;
      cursor: inherit;
      display: block;
      }
   </style>
   <nav class="navbar navbar-default navbar-fixed-top" style="background-color:#484848; padding:10px">
      <div class="container-fluid" style="color:white">
         <a href=""><img src="https://images-na.ssl-images-amazon.com/images/G/01/omaha/images/ui/af-logo-white-trans3._CB377124652_.png" alt="Amazon logo"> </a>
         Already an AmazonFresh customer? <a href="#" style="color:white"><u>Sign in</u></a>
      </div>
   </nav>
   <br/><br/><br/>
   <div class="row">
      <div class="col-sm-9">
         <div class="row">
            <div class="dropdown col-sm-3" style="padding-left:15px">
               <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="background-color:#484848; margin-left:10px">Shop <span class="caret"></span></button>
               <ul class="dropdown-menu">
                  <li><a href="#"><strong>fruits</strong><br>Check out your fruits</a></li>
                  <br>
                  <li><a href="#"><strong>Vegetables</strong><br>Fresh Vegeies every day</a></li>
                  <br>
                  <li><a href="#"><strong>Dairy</strong><br>A healthy Dairy for healthy heart</a></li>
                  <br>
                  <li><a href="#"><strong>Meat</strong><br>Meats of all kinds</a></li>
                  <br>
                  <li><a href="#"><strong>Others</strong><br>We have a solution for you</a></li>
               </ul>
            </div>
            <div class="input-group col-sm-9">
               <input type="text" class="form-control" placeholder="Search AmazonFresh" ng-model="search" aria-describedby="basic-addon1" style="height:50px">
               <span class="input-group-addon" id="basic-addon1" style="background-color:#484848">
               <button type="button" class="btn btn-default" style="color:white;background-color:#484848">Go</button>
               </span>
            </div>
         </div>
         <br/>
      </div>
   </div>
   <br>
   <br>
   <div class="row">
      <div class="col-sm-3" ></div>
      <div class="col-sm-6	" style="background-color:lavenderblush;">
         <br>
         <div style="margin-left:20px;">
            <h3><strong>
               New Product Details:	
               </strong>
            </h3>
            <br>
            <label>Name:            </label>
            <input type="text" ng-model="product_name" placeholder="product name" size="30" style="padding:5px"><br><br>
            <label>Price:       </label>
            <input type="number" ng-model="product_price" placeholder="product price" size="30" style="padding:5px"><br><br>
            <label>Description: </label>
            <br>
            <textarea ng-model="message" rows="05" cols="50" placeholder="Descripe about the product" name="Description"></textarea>
            <br><br>
            <label>Category:</label>
            <input list="CategoryList" ng-change="updateSubCategory()" ng-model="selectedCategory">
            <datalist id="CategoryList" >
               <option ng-repeat = "category in categories" value="{{category.category_id}}">{{category.name}}</option>
            </datalist>
            <br><br>
            <label>Sub Category:</label>
            <input list="Sub_Category" ng-model="selectedSubCategory">
            <datalist id="Sub_Category">
            	<option ng-repeat = "subCategory in subCategories" value="{{subCategory.subcategory_id}}">{{subCategory.name}}</option>
            </datalist>
            <br><br>
            <label>Quantity:       </label>
            <input type="number" ng-model="product_quantity" placeholder="product Quantity" size="30" style="padding:5px"><br><br>
            <div class = "row">
            <div class = "col-sm-6 col-md-3">
            <div style="margin-left:85%"><button type="button" class="btn btn-danger">
            <span class="glyphicon glyphicon-remove"></span></button>
            </div>
            <a href = "#" class = "thumbnail">
            <img src = "https://images-na.ssl-images-amazon.com/images/G/01/omaha/images/merch/2015/TCG/Q1/021015_TCG_ZipLaunch_Generic._V330194894_.jpg" alt = "Generic placeholder thumbnail">
            </a>
            </div>
            </div>
            <span class="btn btn-info btn-file">
            <div style="font-size:15px;">
            <span class="glyphicon glyphicon-plus"></span>
            </div> Click here to upload pictures of farm	
            <input type="file">
            </span>
            <br>
            <br>
            <button class="btn" style="color:white; background-color:#808080" ng-click="createNewProduct();">Submit</button>
            <br>
            <br><br>
         </div>
      </div>
      <div class="col-sm-3" ></div>
   </div>
   <br/><br>
   <br>
   <div class="row">
   <div class="panel-body" style="background-color:#333333;padding-left:40px">
   <div class="row">
   <div class="col-sm-2" style="color:white">Help<br>Conditions of use<br>Privacy Policy</div>
   <div class="col-sm-10" style="color:white"> About<br>Carriers</div>
   </div>
   <div style="color:white">
   <br/> &copy 2007-2016 AmazonFresh, LLC or its affiliates   All items sold by and ship from AmazonFresh unless otherwise specified.<br/><br/>
   </div>
   </div>
   </div>
</div>