<div id="wrapper" class="row ng-scope">
		<nav class="navbar navbar-default navbar-fixed-top" style="background-color:#484848; padding:4px">
		<div class="container-fluid" style="color:white">
        	<a href="" ng-click="go_to_homepage()"><img src="https://images-na.ssl-images-amazon.com/images/G/01/omaha/images/ui/af-logo-white-trans3._CB377124652_.png" alt="Amazon logo"> </a>
			   <span ng-hide="loggedIn">Already an AmazonFresh customer? <a href="#" ng-click="go_to_loginpage()" style="color:white"><u>Sign in</u></a></span>
			  <ul class="nav navbar-nav pull-right">
			  	<li class="nav-item">
                     <a class="dropdown-toggle" href="#" ng-hide="loggedOff" data-toggle="dropdown" style="background-color:#484848; color:white">Hi, {{username}} <span class="caret"></span></a>
						<ul class="dropdown-menu" style="background-color:#484848;">
							<li><a href="#" ng-click="go_to_customer_profile()" style="background-color:#484848; color:white">Profile</a></li><br/>
							<li><a href="#" style="background-color:#484848; color:white">Orders</a></li><br/>
							<li><a href="#" ng-click="logout_from_account()" style="background-color:#484848; color:white">Sign Out</a></li><br/>
						</ul>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#" style="color:white"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a>
				</li>
              </ul>
		</div>
	</nav>
	    <br/><br/></br>
		<div class="row" style="text-align:center">
			<h3>Profile</h3>
			<img src="http://www.igrow.club/ground/uploads/profile/dummy.png" width="150px" height="150px"><br/><br/><br/>
			<span><b>First Name:</b> {{first_name}}</span><br/><br/>
			<span><b>Last Name:</b> {{last_name}}</span><br/><br/>
			<span><b>Address:</b> {{address}}</span><br/><br/>
			<span><b>Location:</b> {{location}}</span><br/><br/>
			<span><b>State:</b> {{state}}</span><br/><br/>
			<span><b>Zip Code:</b> {{zipcode}}</span><br/><br/>
			<span><b>Phone:</b> {{phone}}</span><br/><br/>
		</div>
		<br/><br/><br/><br/><br/><br/><br/>
		<div class="row">
			<div class="panel-body" style="background-color:#333333;padding-left:40px">
				<div class="row">
					<div class="col-sm-2" style="color:white">Help<br>Conditions of use<br>Privacy Policy</div>
					<div class="col-sm-10" style="color:white"> About<br>Carriers</div>
				</div>
				<div style="color:white">
				<br/> &copy 2007-2016 AmazonFresh, LLC or its affiliates   All items sold by and ship from AmazonFresh unless otherwise specified.<br/><br/>
				</div>
			</div>
		</div>
   </div>