<div id="wrapper" class="row ng-scope">
	<nav class="navbar navbar-default navbar-fixed-top"
		style="background-color: #484848; padding: 10px">
		<div class="container-fluid">
			<a href=""><img
				src="https://images-na.ssl-images-amazon.com/images/G/01/omaha/images/ui/af-logo-white-trans3._CB377124652_.png"
				alt="Amazon logo"></a>
		</div>
	</nav>
	<br />
	<br />
	<div class="col-sm-4"></div>
	<div class="col-sm-3" style="text-align: left">
			<h4>
				<br />
				<br />
				<b>Sign In</b><br />
				<br />
			</h4>
			E-mail <input type="email" class="form-control"
				ng-model="email"> <br /> Password <input type="password"
				class="form-control" ng-model="password"> <span
				class="pull-right"><a href="" style="color: #4d9900"><u><small>Forgot
							password?</small></u></a></span> <br />
			<br />
			<button  class="form-control" ng-click="checklogin();"
				style="background-color: rgb(204, 255, 153); color: black">Sign
				In</button>
		</br>
		<p>
			New Amazon.com customer? <a href ng-click="go_to_signup();"><u>Create a new Amazon
					account</u></a>
		</p>
		</br>
		</br>
		<center>
			<small><a href="" style="color: #4d9900"><u>Conditions
						of Use</u></a> <a href="" style="color: #4d9900"><u>Privacy Notice</u></a></small>
		</center>
		<p>
			<small>&copy 1996-2016, Amazon.com, Inc. or its affiliates</small>
		</p>
		<br />
		<br />
		<br />
		<br />
	</div>
	<div class="col-sm-5"></div>
</div>