<div id="wrapper" class="row ng-scope">
   <style>
      #panel {background-color:#f2f2f2; margin-top:100px; margin-bottom:75px; padding-left:40px; padding-bottom:70px}
   </style>
   <nav class="navbar navbar-default navbar-fixed-top"
      style="background-color: #484848; padding: 4px">
      <div class="container-fluid" style="color: white">
         <a href="" ng-click="go_to_homepage()"><img
            src="https://images-na.ssl-images-amazon.com/images/G/01/omaha/images/ui/af-logo-white-trans3._CB377124652_.png"
            alt="Amazon logo"> </a> <span ng-hide="loggedIn">Already an
         AmazonFresh customer? <a href="#" ng-click="go_to_loginpage()"
            style="color: white"><u>Sign in</u></a>
         </span>
         <ul class="nav navbar-nav pull-right">
            <li class="nav-item">
               <a class="dropdown-toggle" href="#"
                  ng-hide="loggedOff" data-toggle="dropdown"
                  style="background-color: #484848; color: white">Hi,
               {{username}} <span class="caret"></span>
               </a>
               <ul class="dropdown-menu" style="background-color: #484848;">
                  <li><a href="#" ng-click="go_to_customer_profile()"
                     style="background-color: #484848; color: white">Profile</a></li>
                  <br />
                  <li><a href="#" ng-click="go_to_customer_orders()"
                     style="background-color: #484848; color: white">Orders</a></li>
                  <br />
                  <li><a href="#" ng-click="logout_from_account()"
                     style="background-color: #484848; color: white">Sign Out</a></li>
                  <br />
               </ul>
            </li>
            <li class="nav-item"><a class="nav-link" href="#" ng-click="go_to_cart()"
               style="color: white"><span
               class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
         </ul>
      </div>
   </nav>
   <br/><br/><br/><br/>
   <div class="row">
      <div class="col-sm-8" style="margin-left:10px">
         <div class="row">
            <div class="dropdown col-sm-3" style="padding-left: 30px">
               <button class="btn btn-primary dropdown-toggle" type="button"
                  data-toggle="dropdown"
                  style="background-color: #484848; margin-left: 10px">
               Shop <span class="caret"></span>
               </button>
               <ul class="dropdown-menu">
                  <li ng-repeat = "category in categories" >
                     <a href="/product_category/{{category.category_id}}"><strong>{{category.name}}</strong><br>{{category.description}}
                     </a>
                  </li>
                  <br>
               </ul>
            </div>
            <div class="col-sm-6">
               <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search AmazonFresh" ng-model="search" aria-describedby="basic-addon1" style="height:50px">
                  <span class="input-group-addon" id="basic-addon1" style="background-color:#484848">
                  <button type="button" class="btn btn-default" style="color:white;background-color:#484848">Go</button>
                  </span>
               </div>
            </div>
         </div>
         <br/>
         <div class="row" style="padding-left:25px">
            <div class="col-sm-4" ng-repeat="imageUrl in imageUrls" style="text-align:center; padding-left:15px">
               <div>
                  <img ng-src="{{imageUrl}}" alt = "Generic placeholder thumbnail">
                  <br>
               </div>
            </div>
            <div class="col-sm-8">
               <h3>{{product_name}}</h3>
               <p>other products by <a href="/farmer/{{puid}}"><u>Farmer_Details</u></a></p>
               <br/><br/>
               <p><strong>Cost: $ {{product_price}}</strong></p>
               <br/><br/>
               <strong>Quantity:</strong>
               <div class="row">
               		<div class="col-sm-3">
               			<select class="form-control" ng-init="prod_Quantity = 1" ng-model="prod_Quantity" ng-options="myoption for myoption in options" >
						</select>
               		</div>
               		<div class="col-sm-9">
               			<button type="button" class="btn btn-default" style="color:white; background-color:#aaa" ng-click="add_to_cart();">Add to Cart</button>
               			<br>
               		</div>
               </div>
				<div class="row">
					<div class="col-sm-9">
			         	<label for="avgRating" class="control-label">Average Rating</label>
			         	<input id="avgRating" class="rating" data-size="xs" data-min="0" data-max="5" data-step="0.1">
			         </div>
		         </div>
            </div>
            <div class="col-sm-7"></div>
            <h3>Product Description</h3>
            <p>{{product_description}}</p>
            <h3>Product Details</h3>
            <p>details</p>
         </div>
         <div class="row"><p><br><br></p></div>
         <div class="row" style="padding-left:25px">
         	<div class="col-sm-12">
         		<div class="panel panel-default">
			    	<div class="panel-body">
			    		<h4><b>Product Ratings and Reviews</b></h4>
			    		<br>
			    		<!-- Post Your review and rating -->
			    		<div class="panel panel-default">
			    			<div class="panel-body">
			    				<h4><b>Give your Rating & Review</b></h4><br><br>
			    				<div class="form-group">
							      <label>Your Rating:</label>
							      <label for="input-4" class="control-label">Rate This</label>
								  <input id="input-4" class="rating rating-loading" data-show-clear="false" data-show-caption="true">
							    </div>
							    <div class="form-group">
							      <label for="pwd">Your Reviews:</label>
							      <textarea type="text" class="form-control" id="pwd" rows="3"></textarea>
							    </div>
							    <div class="form-group">
							    	<button class="btn btn-success" ng-click="createReview();">Submit</button>
							    </div>
			    			</div>
			    		</div>
			    		<div class="panel panel-default">
			    			<div class="panel-body">
			    				<h4><b>Previous Ratings and Reviews</b></h4><br><br>
			    				<div>
			    					<div class="form-group">
			    						<label for="avgRating1" class="control-label">Average Rating</label>
			         					<input id="avgRating1" class="rating" data-size="xs" data-min="0" data-max="5" data-step="0.1">
								    </div>
								    <div class="form-group">
								      <label for="pwd">Review:</label>
								      <p>{{rating1.review}}</p>
								    </div>
			    				</div>
			    				<div>
			    					<div class="form-group">
			    						<label for="avgRating1" class="control-label">Average Rating</label>
			         					<input id="avgRating1" class="rating" data-size="xs" data-min="0" data-max="5" data-step="0.1">
								    </div>
								    <div class="form-group">
								      <label for="pwd">Review:</label>
								      <p>{{rating1.review}}</p>
								    </div>
			    				</div>
			    				<div>
			    					<div class="form-group">
			    						<label for="avgRating1" class="control-label">Average Rating</label>
			         					<input id="avgRating1" class="rating" data-size="xs" data-min="0" data-max="5" data-step="0.1">
								    </div>
								    <div class="form-group">
								      <label for="pwd">Review:</label>
								      <p>{{rating1.review}}</p>
								    </div>
			    				</div>
			    				<div>
			    					<div class="form-group">
			    						<label for="avgRating1" class="control-label">Average Rating</label>
			         					<input id="avgRating1" class="rating" data-size="xs" data-min="0" data-max="5" data-step="0.1">
								    </div>
								    <div class="form-group">
								      <label for="pwd">Review:</label>
								      <p>{{rating1.review}}</p>
								    </div>
			    				</div>
			    				<div ng-hide="!(ratings == undefined)">
			    					<h5><b>No Ratings Available</b></h5><br><br>
			    				</div>
			    			</div>
			    		</div>
			    	</div>
				</div>
         	</div>
         </div>
      </div>
      <div class="col-sm-3" style="padding-right: 100px">
         <br/><span>You are browsing <span style="color:blue"><u>Northern California</u></span></span><br/><br/>
         <h4><strong>Great News, We deliver to your area</strong></h4>
         <br/>
         <p>AmazonFresh is available exclusively to Prime Fresh members in eligible zip codes.</p>
         <br/>
         <button type="button" ng-click="go_to_loginpage()" ng-hide="loggedIn" class="form-control" style="background-color: green; color: white">Sign in with Amazon account</button><br/>
         <p>Not a Prime Fresh member?<span style="color:blue"><u>Start your 30-day FREE trial today</span></a></p>
      </div>
   </div>
   <br/>
   <div class="row">
      <div class="panel-body" style="background-color:#333333;padding-left:40px">
         <div class="row">
            <div class="col-sm-2" style="color:white">Help<br>Conditions of use<br>Privacy Policy</div>
            <div class="col-sm-10" style="color:white"> About<br>Carriers</div>
         </div>
         <div style="color:white">
            <br/> &copy 2007-2016 AmazonFresh, LLC or its affiliates   All items sold by and ship from AmazonFresh unless otherwise specified.<br/><br/>
         </div>
      </div>
   </div>
</div>