<div id="wrapper" class="row ng-scope">
	<div class="row">
		<div class="col-sm-7"></div>
		<div class="col-sm-3">
			<br/>
			<button type="button" class="btn btn-default pull-right" ng-click="doLogout()" style="background-color:#99cc00"><span class="glyphicon glyphicon-off"></span> Logout</button>
		</div>
	</div>
	<h3 style="text-align:center"><b>Pending Farmer Approvals</b></h3>
	<div class="row" style="margin-left: 15px; margin-right: 15px">
		<br />
		<div>
			<div class="col-sm-1" style="margin-right: 10px">Farmer ID</div>
			<div class="col-sm-2" style="margin-right: 10px">First Name</div>
			<div class="col-sm-2" style="margin-right: 10px">Last Name</div>
			<div class="col-sm-2" style="margin-right: 10px">Address</div>
			<div class="col-sm-2" style="margin-right: 10px">Phone</div>
			<div class="col-sm-2" style="margin-right: 10px"></div>
		</div>
		<br />
		<div class="panel-body" ng-repeat="farmer in farmers" value="{{farmer.puid}}" style="border-style: ridge">
			<div class="col-sm-1" style="margin-right: 10px">
				<span>{{farmer.puid}}</span>
			</div>
			<div class="col-sm-2" style="margin-right: 10px">
				<span>{{farmer.first_name}}</span>
			</div>
			<div class="col-sm-2" style="margin-right: 10px">
				<span>{{farmer.last_name}}</span>
			</div>
			<div class="col-sm-2" style="margin-right: 10px">
				<span>{{farmer.address}}</span>
			</div>
			<div class="col-sm-2" style="margin-right: 10px">
				<span>{{farmer.phone}}</span>
			</div>
			<div class="col-sm-2" style="margin-right: 10px">
				<button type="button" class="btn btn-primary btn-info" data-toggle="modal" data-target="#myModal">Approve</button>
				<div id="myModal" class="modal fade" role="dialog">
		  			<div class="modal-dialog">
		    			<div class="modal-content">
		      				<div class="modal-header">
		        				<button type="button" class="close" data-dismiss="modal">&times;</button>
		        				<h4 class="modal-title">Message</h4>
		      				</div>
		     				 <div class="modal-body">
		        				<p>Farmer Approved Successfully</p>
		      				</div>
		     				 <div class="modal-footer">
		       					 <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="fApprove(farmer.puid)" style="background-color:#99cc00">Close</button>
		      				</div>
		    			</div>
		  			</div>
				</div>
			</div>
		</div>
	</div>
	<br /> <br /> <br /> <br /> <br /> <br /> <br />
</div>