<div id="wrapper" class="row ng-scope">
   <nav class="navbar navbar-default navbar-fixed-top"
      style="background-color: #484848; padding: 10px">
      <div class="container-fluid">
         <a href ng-click="go_to_homepage();"><img
            src="https://images-na.ssl-images-amazon.com/images/G/01/omaha/images/ui/af-logo-white-trans3._CB377124652_.png"
            alt="Amazon logo"></a>
      </div>
   </nav>
   <br />
   <br />
   <div class="col-sm-4"></div>
   <div class="col-sm-3" style="text-align: left">
      <h4>
         <br />
         <br />
         <b>Sign In</b><br />
         <br />
      </h4>
      <form name="login">
         E-mail <input type="email" name="email" class="form-control" ng-model="email" required> <br /> 
         Password <input type="password" name="password" class="form-control" ng-model="password" required>
      </form>
      <br />
      <br />
      <button  class="form-control" ng-click="checklogin();" style="background-color: rgb(204, 255, 153); color: black">Sign In</button>
      </br>
      <div class="modal fade" id="myModal" role="dialog">
	    <div class="modal-dialog">
	    
	      <!-- Modal content-->
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4 class="modal-title">Login Failure</h4>
	        </div>
	        <div class="modal-body">
	          <p>Authentication failure: Please check your credentials. <br/>Server returned message:  {{errmsg}}</p>
	        </div>
	        <div class="modal-footer">
	          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
	        </div>
	      </div>
	      
	    </div>
	  </div>
	  <div class="modal fade" id="myModal_1" role="dialog">
	    <div class="modal-dialog">
	    
	      <!-- Modal content-->
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4 class="modal-title">Information Missing</h4>
	        </div>
	        <div class="modal-body">
	          <p>Please fill all the information</p>
	        </div>
	        <div class="modal-footer">
	          <button type="button" class="btn btn-default" style="background-color:#99cc00" data-dismiss="modal">Close</button>
	        </div>
	      </div>
	      
	    </div>
	  </div>
      <p>
         New Amazon.com customer? <a href ng-click="go_to_signup();"><u>Create a new Amazon
         account</u></a>
      </p>
      </br>
      </br>
      <center>
         <small><span style="color: #4d9900"><u>Conditions
         of Use</u></span> <span style="color: #4d9900"><u>Privacy Notice</u></span></small>
      </center>
      <p>
         <small>&copy 1996-2016, Amazon.com, Inc. or its affiliates</small>
      </p>
      <br />
      <br />
      <br />
      <br />
   </div>
   <div class="col-sm-5">
      <br/><br/><br/><br/><br/><br/>
      <span ng-show="login.email.$touched && login.email.$invalid" style="color:red"><span class="glyphicon glyphicon-remove"></span> Email is required.</span><br/><br/><br/><br/>
   	  <span ng-show="login.password.$touched && login.password.$invalid" style="color:red"><span class="glyphicon glyphicon-remove"></span> Password is required.</span>
   </div>
</div>