<div id="wrapper" class="row ng-scope">
   <style>
      #panel {background-color:#f2f2f2; margin-top:100px; margin-bottom:75px; padding-left:40px; padding-bottom:70px}
      .btn-file {
      position: relative;
      overflow: hidden;
      }
      .btn-file input[type=file] {
      position: absolute;
      top: 0;
      right: 0;
      min-width: 100%;
      min-height: 100%;
      font-size: 100px;
      text-align: right;
      filter: alpha(opacity=0);
      opacity: 0;
      outline: none;
      background: white;
      cursor: inherit;
      display: block;
      }
   </style>
   <nav class="navbar navbar-default navbar-fixed-top" style="background-color:#484848; padding:10px">
      <div class="container-fluid" style="color:white">
         <a href=""><img src="https://images-na.ssl-images-amazon.com/images/G/01/omaha/images/ui/af-logo-white-trans3._CB377124652_.png" alt="Amazon logo"> </a>
         Already an AmazonFresh customer? <a href="#" style="color:white"><u>Sign in</u></a>
      </div>
   </nav>
   <br/><br/><br/>
   <div class="row">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-9">
         <div class="row">
         	<br>
            <div class="input-group col-sm-9">
               <input type="text" class="form-control" placeholder="Search AmazonFresh" ng-model="search"
                  aria-describedby="basic-addon1"> 
               <span class="input-group-addon btn btn-default" id="basic-addon1" ng-click="" style="background-color: #484848">
               <span style="color:white; ">Go</span>
               </span>
            </div>
         </div>
         <br/>
      </div>
   </div>
   <br>
   <br>
   <div class="row">
      <div class="col-sm-3" ></div>
      <div class="col-sm-6	" style="background-color:lavenderblush;">
         <br>
         <div style="margin-left:20px;">
            <h3 align="center" style="color:blue;"><strong>
               New Product Details:	
               </strong>
            </h3>
            <br>
            <div class="row">
	            <div class="col-sm-2">
	            	<label>Name:            </label>
	            </div>
	            <div class="col-sm-9">
	            	<input type="text" ng-model="product_name" placeholder="product name" class="form-control">
	            </div>
            </div>
            <br>
            <div class="row">
	            <div class="col-sm-2">
	            	<label>Price:       </label>
	            </div>
	            <div class="col-sm-9">
	            	<input type="number" ng-model="product_price" placeholder="product price" class="form-control">
	            </div>
            </div>
            <br>
            <div class="row">
	            <div class="col-sm-2">
	            	<label>Description: </label>
	            </div>
	            <div class="col-sm-9">
	            	<textarea ng-model="message" rows="05" cols="50" placeholder="Describe your the product" name="Description" class="form-control">
	            	</textarea>
	            </div>
            </div>
            <br>
            <div class="row">
	            <div class="col-sm-2">
	            	<label>Category:</label>
	            </div>
	            <div class="col-sm-9">
	            	<select id="CategoryList" class="form-control" ng-model="selectedCategory" ng-change="updateSubCategory()">
		               <option ng-repeat = "category in categories" value="{{category.category_id}}" class="form-control"><strong>{{category.name}}</strong></option>
		            </select>
	            </div>
            </div>
            <br>
            <div class="row">
	            <div class="col-sm-2">
	            	<label>Sub Category:</label>
	            </div>
	            <div class="col-sm-9">
		            <select id="Sub_Category" class="form-control" ng-model="selectedSubCategory">
		            	<option ng-repeat = "subCategory in subCategories" value="{{subCategory.subcategory_id}}" class="form-control">{{subCategory.name}}</option>
		            </select>
	            </div>
            </div>
            <br>
            <div class="row">
	            <div class="col-sm-2">
	            	<label>Quantity:       </label>
	            </div>
	            <div class="col-sm-9">
	            	<input type="number" ng-model="product_quantity" placeholder="product Quantity" class="form-control">
	            </div>
            </div>
            <br>
            <div class="row">
            	<div class="col-sm-12">
            		<span style="color:green;"><strong>UPLOAD PICTURES FOR YOUR PRODUCT</strong></span>
            	</div>
            	<div class="col-sm-12"><p></p></div>
	            <div class="col-sm-12">
	            	<span class="btn btn-info btn-file">
			            <div style="font-size:15px;">
			            	<span class="glyphicon glyphicon-plus"></span>
			            </div> Click here to upload
			            <input type="file" name="file1" onchange="angular.element(this).scope().uploadFile(this.files)">
		            </span>
		            <span>fileName: {{myfiles1}}</span>
	      		</div>
	      		<div class="col-sm-12"><p></p></div>
	      		<div class="col-sm-12">
	            	<span class="btn btn-info btn-file">
			            <div style="font-size:15px;">
			            	<span class="glyphicon glyphicon-plus"></span>
			            </div> Click here to upload
			            <input type="file" name="file1" onchange="angular.element(this).scope().uploadFile(this.files)">
		            </span>
	      		</div>
	      		<div class="col-sm-12"><p></p></div>	
	      		<div class="col-sm-12">
	            	<span class="btn btn-info btn-file">
			            <div style="font-size:15px;">
			            	<span class="glyphicon glyphicon-plus"></span>
			            </div> Click here to upload
			            <input type="file" name="file1" onchange="angular.element(this).scope().uploadFile(this.files)">
		            </span>
	      		</div>
	      		<div class="col-sm-12"><p></p></div>
	      		<div class="col-sm-12"><p></p></div>
	      		<div class="col-sm-12"><p></p></div>
	      		<div class="col-sm-12"><p></p></div>
	      		<div class="col-sm-3"><p></p></div>
	      		<div class="col-sm-6">
	      			<button class="btn btn-success form-control"ng-click="createNewProduct();" data-toggle="modal" data-target="#myModal">Create</button>
		            <div class="modal fade" id="myModal" role="dialog">
					    <div class="modal-dialog">
					      <!-- Modal content-->
					      <div class="modal-content">
					        <div class="modal-header">
					          <button type="button" class="close" data-dismiss="modal">&times;</button>
					          <h4 class="modal-title">New Product</h4>
					        </div>
					        <div class="modal-body">
					          <p>Congratulations!. Your product is created successfully. It will be visible to the customers
					          after the admin approves it.</p>
					        </div>
					        <div class="modal-footer">
					          <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="refreshPage()">Close</button>
					        </div>
					      </div>
					    </div>
					</div>
				</div>
				<div class="col-sm-12"><p></p></div>
			</div>
         </div>
      </div>
      <div class="col-sm-3" ></div>
   </div>
   <br/><br>
   <br>
   <div class="row">
   <div class="panel-body" style="background-color:#333333;padding-left:40px">
   <div class="row">
   <div class="col-sm-2" style="color:white">Help<br>Conditions of use<br>Privacy Policy</div>
   <div class="col-sm-10" style="color:white"> About<br>Carriers</div>
   </div>
   <div style="color:white">
   <br/> &copy 2007-2016 AmazonFresh, LLC or its affiliates   All items sold by and ship from AmazonFresh unless otherwise specified.<br/><br/>
   </div>
   </div>
   </div>
</div>