<div id="wrapper" class="row ng-scope">
		<nav class="navbar navbar-default navbar-fixed-top" style="background-color:#484848; padding:10px">
			<div class="container-fluid" style="color:white">
               <a href=""><img src="https://images-na.ssl-images-amazon.com/images/G/01/omaha/images/ui/af-logo-white-trans3._CB377124652_.png" alt="Amazon logo"> </a>
			</div>
		</nav>
<br>
<br>
<br>
<div class="row">

			<div class="dropdown col-sm-1" style="padding-left: 15px">
				<button class="btn btn-primary dropdown-toggle" type="button"
					data-toggle="dropdown"
					style="background-color: #484848; margin-left: 10px">
					Shop <span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><a href ng-click="go_to_product_cayegory();"><strong>fruits</strong><br>Check
							out your fruits</a></li>
					<br>
					<li><a href="#"><strong>Vegetables</strong><br>Fresh
							Vegeies every day</a></li>
					<br>
					<li><a href="#"><strong>Dairy</strong><br>A healthy
							Dairy for healthy heart</a></li>
					<br>
					<li><a href="#"><strong>Meat</strong><br>Meats of all
							kinds</a></li>
					<br>
					<li><a href="#"><strong>Others</strong><br>We have a
							solution for you</a></li>
				</ul>
			</div>
			<div class="input-group col-sm-6">
				<input type="text" class="form-control"
					placeholder="Search AmazonFresh" ng-model="search"
					aria-describedby="basic-addon1" style="height: 50px"> <span
					class="input-group-addon" id="basic-addon1"
					style="background-color: #484848">
					<button type="button" class="btn btn-default"
						style="color: white; background-color: #484848">Go</button>
				</span>
			</div>


</div>


  




<br>
<br>

<div class="row">
<div class="col-sm-3" >

</div>
<div class="col-sm-9">
</div>
</div>
<div style="font-size:22px">
<div class="row">
<div class="col-sm-3">
</div>
<div class="col-sm-1">
<form action="/editprofile" method="get">
<strong>Firstname:</strong><br><br>
<strong>Lastname:</strong><br><br>
<strong>Birthday:</strong><br><br>
<strong>Address:</strong><br><br>
<strong>Location:</strong><br><br>
<strong>State:</strong><br><br>
<strong>Zipcode:</strong><br><br>
<strong>Phone:</strong><br><br>
<strong>Status:</strong><br><br>
<strong>Created at:</strong><br><br>
<strong>Updated at:</strong><br><br>
				<button ng-click="edit_customer_profile();"  class="btn" style="color:white; background-color:#808080">Edit</button>
	</div>
<div class="col-sm-3">
{{first_name}}<br><br>
{{last_name}}<br><br>
{{birthday}}<br><br>
{{address}}<br><br>
{{location}}<br><br>
{{state}}<br><br>
{{zipcode}}<br><br>
{{phone}}<br><br>
{{status}}<br><br>
{{created_at}}<br><br>
{{updated}}<br><br>

</div>
</form>
<div class="col-sm-5">
</div>
</div>
</div>	
<br>
<br>
<br>
<br>
<br>
<br>





  <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
</div>



		<div class="row">
			<div class="panel-body" style="background-color:#333333;padding-left:40px">
				<div class="row">
					<div class="col-sm-2" style="color:white">Help<br>Conditions of use<br>Privacy Policy</div>
					<div class="col-sm-10" style="color:white"> About<br>Carriers</div>
				</div>
				<div style="color:white">
				<br/> &copy 2007-2016 AmazonFresh, LLC or its affiliates   All items sold by and ship from AmazonFresh unless otherwise specified.<br/><br/>
				</div>
			</div>
		</div>
   </div>