<!DOCTYPE html>
<html>
   <head>
      <title>Amazon Shipping Details</title>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
   </head>
   <body>
		<nav class="navbar navbar-default navbar-fixed-top" style="background-color:#484848; padding:10px">
			<div class="container-fluid">
               <a href=""><img src="https://images-na.ssl-images-amazon.com/images/G/01/omaha/images/ui/af-logo-white-trans3._CB377124652_.png" alt="Amazon logo"></a>
			</div>
		</nav>
	    <br/><br/>
		<div class="row" style="margin-left:15px; margin-right:15px">
			<form method="POST" action="#">
				<div class="col-sm-5">
					<h3>Enter a new Shipping address</h3><br/>
					<b>Full name:</b><input type="text" class="form-control" ng-model="name" placeholder="First name, Last name"><br/>
					<b>Address line 1:</b><input type="text" class="form-control" ng-model="address1" placeholder="Street address"><br/>
					<b>Address line 2:</b><input type="text" class="form-control" ng-model="address2" placeholder="Apartment, suit, unit, etc"><br/>
					<b>City:</b><input type="text" class="form-control" ng-model="city"><br/>
					<b>State/Province/Region:</b><input type="text" class="form-control" ng-model="state"><br/>
					<b>ZIP:</b><input type="text" class="form-control" ng-model="zip"><br/>
					<b>Country:</b><input type="text" class="form-control" ng-model="country"><br/>
					<b>Phone number:</b><input type="text" class="form-control" ng-model="phone"><br/>
					<h3>Additional Address Details</h3>
					<p>Preferences are used to plan your delivery. However, shipments can sometimes arrive early or later than planned.</p>
					<b>Weekend Delivery:</b><br/>
					<select name="preferance">
						<option value="yes">Yes, deliver on weekends</option>
						<option value="no">No, do not deliver on weekends</option>
					</select><br/><br/>
					<b>Security access code:</b><input type="text" class="form-control" ng-model="access_code" placeholder="For buildings or gated communities"><br/><br/>
					<button type="submit" class="btn btn-primary" style="color:white; background-color:green">Continue</button>
				</div>
				<div class="col-sm-2"></div>
				<div class="col-sm-5">
					<h3>Delivery preference</h3><br/>
					<span><b>Date:</b>
						<select name="delivery_date" class="form-control">
							<option value="2days">2 days from now</option>
							<option value="3days">3 days from now</option>
							<option value="4days">4 days from now</option>
							<option value="5days">5 days from now</option>
						</select>
					</span>
					<br/><br/>
					<span><b>Time Slot:</b>
						<select name="time_slot" class="form-control">
							<option value="slot1">10 AM - 12 PM</option>
							<option value="slot2">12 PM - 2 PM</option>
							<option value="slot3">2 PM - 4 PM</option>
							<option value="slow4">4 PM - 6 PM</option>
							<option value="slot5">6 PM - 8 PM</option>
						</select>
					</span>
				</div>
			</form>
		</div>
		<br/><br/>
		<br/><br/>
		<div class="row">
			<div class="panel-body" style="background-color:#333333;padding-left:40px">
				<div class="row">
					<div class="col-sm-2" style="color:white">Help<br>Conditions of use<br>Privacy Policy</div>
					<div class="col-sm-10" style="color:white"> About<br>Carriers</div>
				</div>
				<div style="color:white">
				<br/> &copy 2007-2016 AmazonFresh, LLC or its affiliates   All items sold by and ship from AmazonFresh unless otherwise specified.<br/><br/>
				</div>
			</div>
		</div>
   </body>
</html>