<div id="wrapper" class="row ng-scope">
   <style>
      #panel {background-color:#f2f2f2; margin-top:100px; margin-bottom:75px; padding-left:40px; padding-bottom:70px}
   </style>
   <nav class="navbar navbar-default navbar-fixed-top" style="background-color:#484848; padding:10px">
      <div class="container-fluid" style="color:white">
         <a href=""><img src="https://images-na.ssl-images-amazon.com/images/G/01/omaha/images/ui/af-logo-white-trans3._CB377124652_.png" alt="Amazon logo"> </a>
         Already an AmazonFresh customer? <a href ng-click="go_to_loginpage();" style="color:white"><u>Sign in</u></a>
      </div>
   </nav>
   <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10" style="text-align:left">
         <div class="panel-body" id="panel">
         	<div class="col-sm-4">
	            <h3>Create New Account</h3>
	            <br/>
	            <form name="signup">
		            <input type="text" placeholder="firstname" name="firstname" ng-model="firstname" size="30" style="padding:5px" required><br/><br/>
		            <input type="text" placeholder="lastname" name="lastname" ng-model="lastname" size="30" style="padding:5px" required><br/><br/>
		            <input type="email" placeholder="E-mail Address" name="email" ng-model="email" size="30" style="padding:5px" required><br/><br/>
		            <input type="password" placeholder="Password" name="password" ng-model="password" size="30" style="padding:5px" required><br/><br/>
		            <input type="date" placeholder="Birthday" name="birthday" ng-model="birthday" size="30" style="padding:5px" required><br/></br>
		            <input type="text" placeholder="address" name="address" ng-model="address" size="30" style="padding:5px" required><br/><br/>
		            <input type="text" placeholder="location" name="location" ng-model="location" size="30" style="padding:5px" required><br/><br/>
		            <input type="text" placeholder="state" name="state" ng-model="state" size="30" style="padding:5px" required><br/><br/>
		            <input type="text" placeholder="zipcode" name="zipcode" ng-model="zipcode" size="30" style="padding:5px" required><br/><br/>
		            <input type="number" placeholder="phone" name="phone" ng-model="phone" size="30" style="padding:5px" required><br/><br/>
		            <input type="number" placeholder="SSN" name="ssn" ng-model="ssn" size="30" style="padding:5px" required><br/><br/>
		            <label>Role:</label>		
		            <select name="role" ng-model="role">
		               <option value="customer" selected>Customer</option>
		               <option value="farmer">Farmer</option>
		            </select>
	            </form>
	            <br><br>
	            <button ng-click="go_to_signup_operation();"  class="btn" style="color:white; background-color:#808080">Continue</button>
         	</div>
         	<div class="col-sm-3">
         		<br/><br/><br/><br/>
         		<span ng-show="signup.firstname.$touched && signup.firstname.$invalid" style="color:red"><span class="glyphicon glyphicon-remove"></span> First Name is required.</span><br/><br/><br/>
         		<span ng-show="signup.lastname.$touched && signup.lastname.$invalid" style="color:red"><span class="glyphicon glyphicon-remove"></span> Last Name is required.</span><br/><br/><br/>
         		<span ng-show="signup.email.$touched && signup.email.$invalid" style="color:red"><span class="glyphicon glyphicon-remove"></span> Email is required.</span><br/><br/>
         		<span ng-show="signup.password.$touched && signup.password.$invalid" style="color:red"><span class="glyphicon glyphicon-remove"></span> Password is required.</span><br/><br/><br/>
         		<span ng-show="signup.birthday.$touched && signup.birthday.$invalid" style="color:red"><span class="glyphicon glyphicon-remove"></span> Birth Date is required.</span><br/><br/><br/>
         		<span ng-show="signup.address.$touched && signup.address.$invalid" style="color:red"><span class="glyphicon glyphicon-remove"></span> Address is required.</span><br/><br/>
         		<span ng-show="signup.location.$touched && signup.location.$invalid" style="color:red"><span class="glyphicon glyphicon-remove"></span> Location is required.</span><br/><br/><br/>
         		<span ng-show="signup.state.$touched && signup.state.$invalid" style="color:red"><span class="glyphicon glyphicon-remove"></span> State is required.</span><br/><br/><br/>
         		<span ng-show="signup.zipcode.$touched && signup.zipcode.$invalid" style="color:red"><span class="glyphicon glyphicon-remove"></span> Zipcode is required.</span><br/><br/><br/>
         		<span ng-show="signup.phone.$touched && signup.phone.$invalid" style="color:red"><span class="glyphicon glyphicon-remove"></span> Phone Number is required.</span><br/><br/><br/>
         		<span ng-show="signup.ssn.$touched && signup.ssn.$invalid" style="color:red"><span class="glyphicon glyphicon-remove"></span> SSN is required.</span><br/><br/><br/>
         		<span ng-show="signup.role.$touched && signup.role.$invalid" style="color:red"><span class="glyphicon glyphicon-remove"></span> Role is required.</span><br/><br/><br/>
         	</div>
         </div>
         <div class="modal fade" id="myModal" role="dialog">
	    <div class="modal-dialog">
	    
	      <!-- Modal content-->
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4 class="modal-title">Signup Failure</h4>
	        </div>
	        <div class="modal-body">
	          <p>SignUp failure: Server returned message: <br> <h4><mark>{{errmsg}}</mark></h4></p>
	        </div>
	        <div class="modal-footer">
	          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
	        </div>
	      </div>
	      
	    </div>
	  </div>
	  <div class="modal fade" id="myModal_1" role="dialog">
	    <div class="modal-dialog">
	    
	      <!-- Modal content-->
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4 class="modal-title">Information Missing</h4>
	        </div>
	        <div class="modal-body">
	          <p>Please fill all the information</p>
	        </div>
	        <div class="modal-footer">
	          <button type="button" class="btn btn-default" style="background-color:#99cc00" data-dismiss="modal">Close</button>
	        </div>
	      </div>
	      
	    </div>
	  </div>
      </div>
   </div>
   <div class="row">
      <div class="panel-body" style="background-color:#333333;padding-left:40px">
         <div class="row">
            <div class="col-sm-2" style="color:white">Help<br>Conditions of use<br>Privacy Policy</div>
            <div class="col-sm-10" style="color:white"> About<br>Carriers</div>
         </div>
         <div style="color:white">
            <br/> &copy 2007-2016 AmazonFresh, LLC or its affiliates   All items sold by and ship from AmazonFresh unless otherwise specified.<br/><br/>
         </div>
      </div>
   </div>
   <!-- Trigger the modal with a button -->
</div>