
<div id="wrapper" class="row ng-scope">
   <style>
      #panel {background-color:#f2f2f2; margin-top:100px; margin-bottom:75px; padding-left:40px; padding-bottom:70px}
      .btn-file {
      position: relative;
      overflow: hidden;
      }
      .btn-file input[type=file] {
      position: absolute;
      top: 0;
      right: 0;
      min-width: 100%;
      min-height: 100%;
      font-size: 100px;
      text-align: right;
      filter: alpha(opacity=0);
      opacity: 0;
      outline: none;
      background: white;
      cursor: inherit;
      display: block;
      }
   </style>
   <nav class="navbar navbar-default navbar-fixed-top" style="background-color:#484848; padding:10px">
 <div class= "row">
 <div class="col-sm-9">
      <div class="container-fluid" style="color:white">
         <a href=""><img src="https://images-na.ssl-images-amazon.com/images/G/01/omaha/images/ui/af-logo-white-trans3._CB377124652_.png" alt="Amazon logo"> </a>
      <div class="col-sm-3 nav navbar-nav pull-right">
      <a href="#" ng-click="logout_from_farmer_account()"  style="background-color: #484848; color: white">Sign Out</a>
      </div>
      </div>
      </div>
      </div>
   </nav>
   <br/><br/><br/>
   <div class="row">
      <div class="col-sm-9">
         <div class="row">
            <div class="dropdown col-sm-2" style="padding-left:15px">
            </div>
            <div class="input-group col-sm-8">
               <input type="text" class="form-control" placeholder="Search AmazonFresh" ng-model="search" aria-describedby="basic-addon1" style="height:50px">
               <span class="input-group-addon" id="basic-addon1" style="background-color:#484848">
               <button type="button" class="btn btn-default" style="color:white;background-color:#484848">Go</button>
               </span>
               <button type="button" class="btn btn-default" style="color:white;background-color:#484848" ng-click="go_to_newproduct();">Create Product</button>
            
        
            </div>
            
         <br/>
         <div class="row" style="margin-left:12px;">
            <div class="col-sm-1">
               <strong>Firstname:</strong><br><br>
               <strong>Lastname:</strong><br><br>
               <strong>Birthday:</strong><br><br>
               <strong>Address:</strong><br><br>
               <strong>Location:</strong><br><br>
               <strong>State:</strong><br><br>
               <strong>Zipcode:</strong><br><br>
               <strong>Phone:</strong><br><br>
               <strong>Created at:</strong><br><br>
               <strong>Updated at:</strong><br><br>
               <input type ="submit" value ="Edit">
            </div>
            <div class="col-sm-2">
               {{first_name}}<br><br>
               {{last_name}}<br><br>
               {{birthday}}<br><br>
               {{address}}<br><br>
               {{location}}<br><br>
               {{state}}<br><br>
               {{zipcode}}<br><br>
               {{phone}}<br><br>
               {{created_at}}<br><br>
               {{updated}}<br><br>
            </div>
            <div class="col-sm-9">
               <h4>Farmer's Photos</h4>
               <div class = "row">
                  <div class = "col-sm-6 col-md-3">
                     <div ng-repeat="imageUrl in imageUrls">
                     <div style="margin-left:85%"><button type="button" class="btn btn-danger" ng-click="remove_image();">
                        <span class="glyphicon glyphicon-remove"></span></button>
                     </div>
                     
                     	<br>
                     	<img ng-src="{{imageUrl}}" alt = "Generic placeholder thumbnail">
                     	<br>
                     </div>
                  </div>
                  
               </div>
            </div>
            <input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)"/>
            <span class="btn btn-info btn-file">
               <div style="font-size:15px;">
                  <span class="glyphicon glyphicon-plus"></span>
               </div>
               Click here to select pictures of farm	
               <input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)">
            </span>
            <button type="button" class="btn btn-primary" ng-click="upload_image();">Upload Pictures</button>
            <br><br><br>
            <video controls>
            <source ng-src="{{videoUrls  | trustUrl}}" type="video/mp4">
            </video controls>
         </div>
      </div>
   </div>
</div>
<br/>
<div class="row">
   <div class="panel-body" style="background-color:#333333;padding-left:40px">
      <div class="row">
         <div class="col-sm-2" style="color:white">Help<br>Conditions of use<br>Privacy Policy</div>
         <div class="col-sm-10" style="color:white"> About<br>Carriers</div>
      </div>
      <div style="color:white">
         <br/> &copy 2007-2016 AmazonFresh, LLC or its affiliates   All items sold by and ship from AmazonFresh unless otherwise specified.<br/><br/>
      </div>
   </div>
</div>
</div>