<div id="wrapper" class="row ng-scope">
   <nav class="navbar navbar-default navbar-fixed-top" style="background-color:#484848; padding:10px">
      <div class= "row">
         <div class="col-sm-9">
            <a href=""><img src="https://images-na.ssl-images-amazon.com/images/G/01/omaha/images/ui/af-logo-white-trans3._CB377124652_.png" alt="Amazon logo"> </a>
         </div>
         <div class="col-sm-2">
         </div>
         <div class="col-sm-1 nav navbar-nav pull-right">
            <a href="#" ng-click="logout_from_farmer_account()"  style="background-color: #484848; color: white">Sign Out</a>
         </div>
      </div>
   </nav>
   <br><br><br>
   <div align="center">
<button type="button" class="btn btn-primary" ng-click="go_to_viewproduct();">View Profile</button>
<button type="button" class="btn btn-primary" ng-click="go_to_updateprofile();">Update Profile</button>
<button type="button" class="btn btn-primary" ng-click="go_to_newproduct();">New Product</button>
</div>
<div class="row">
   <nav class="navbar navbar-default navbar-fixed-bottom" style="background-color:#333333; padding:10px">

   <div class="panel-body" style="background-color:#333333;padding-left:40px">
      <div class="row">
         <div class="col-sm-2" style="color:white">Help<br>Conditions of use<br>Privacy Policy</div>
         <div class="col-sm-10" style="color:white"> About<br>Carriers</div>
      </div>
      <div style="color:white">
         <br/> &copy 2007-2016 AmazonFresh, LLC or its affiliates   All items sold by and ship from AmazonFresh unless otherwise specified.<br/><br/>
      </div>
   </div>
</div>
</nav>
</div>